<div class="header">
  <div class="menu-trigger-form" href=""><span></span><span></span><span></span></div>
  <div class="menu-trigger-back-form"></div>
  <nav>
    <ul class="menu-btns">
      <li><%= link_to 'AEDMAP', maps_path,class: 'btn btn-success' %></li>
      <li><%= link_to 'サイトについて', about_maps_path, class: 'btn btn-success'%></li>
      <li><%= link_to '投稿', new_map_path, class: 'btn btn-success' %></li>
      <li><%= link_to 'ダウンロード', download_maps_path, class: 'btn btn-success' %></li>
    </ul>
  </nav>
  <div class="overlay"></div>
</div>

<div class="download_main_content">
  <h2>AED情報のダウンロード</h2>
  <p>管理者に承認されたAEDの情報を以下のボタンからCSVでダウンロードできます</p>
  <div class="download-btn">
    <%= link_to 'ダウンロード', 'download.csv', class: 'btn-lg btn-primary download-btn' %>
  </div>
</div>
